.title {
	text-align: center;
}

.cardDisplay {
	display: inline;
}

.card {
	display: inline-block;
	margin: 10px;
	border: 1px black solid;
}

.card th {
	text-align: left;
}

.card th, .card td {
	padding: 10px;
}