.argue {
    text-align: center;
}

.argue button {
    margin: 30px;
    height: 30px;
    width: 70px;
}

.hover {
    margin-top: 100px;
    text-align: center;
    font-size: 72px;
}

form {
    padding-top: 100px;
    padding-left: 100px;
}

.inputs {
    display: flex;
    flex-direction: row;
}

.inputs div {
    display: flex;
    flex-direction: column;
}

.inputs div label, .inputs div input, form button {
    margin: 10px;
}

#login {
    text-align: center;
}